/* All */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-style: normal;
}
/* Container */
.container {
    width: 85%;
    margin: 0 auto;
}
/* html */
:root {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
/* Link */
a {
    text-decoration: none;
    color: #AAAAAB;
    font-size: 18px;
    font-weight: 400;
}
/* Btn */
.btn {
    background: #F78BB6;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding: 15px 20px;
    transition: all .5s ease;
}
.btn:hover,
.btn:focus {
    box-shadow: 2px 2px 10px rgb(251, 121, 173);
    transform: translateX(5px);
}
.btn a {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}
.btn img {
    width: 43px;
}
/* Section */
section {
    margin-top: 190px;
}
/* Section title */
.section-title span {
    font-weight: 500;
    font-size: 28px;
    color: #F78CB6;
    margin-bottom: 6px;
}
.section-title h2 {
    font-weight: 700;
    font-size: 52px;
    color: #56597A;
    margin-bottom: 58px;
}
/* Text align */
.text-center {
    text-align: center;
}