/* Nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0;
}
    .nav .navbar-logo img {
        width: 106px;
    }
    .nav .navbar {
        display: flex;
        align-items: center;
    }
        .nav .navbar a {
            margin-left: 60px;
            padding: 10px;
            transition: all .3s ease;
        }
        .nav .navbar a:hover,
        .nav .navbar a:active {
            color: #56597A;
        }
/* Header */
.header {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    position: relative;
}
    .header .header-des span {
        font-weight: 500;
        font-size: 28px;
        line-height: 40px;
        color: #F78CB6;
        margin-bottom: 29px;
        display: inline-block;
    }
    .header .header-des span::before:not(.blog-item h2) {
        content: "";
        display: inline-block;
        width: 36px;
        height: 3px;
        background: #F78CB6;
        margin-right: 3px;
        border-radius: 100px;
    }
    .header .header-des h2 {
        font-weight: 700;
        font-size: 64px;
        line-height: 74px;
        color: #56597A;
        margin-bottom: 31px;
    }
    .header .header-des p {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #919299;
        margin-bottom: 42px;
    }
    .header .header-img .bg-one{
        width: 1019.64px;
        height: 936.3px;
        position: absolute;
        right: calc(0px - 8%);
        top: -165px;
        background-image: url("../images/header/Group\ 32.svg");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        overflow: hidden;
    }
    .header .header-img .bg-two{
        width: 150px;
        height: 631.32px;
        position: absolute;
        left: calc(0px - 9%);
        top: 365px;
        background-image: url("../images/header/Bloobs.svg");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        overflow: hidden;
    }
    .header .header-img .bg-three{
        width: 216.98px;
        height: 431.25px;
        position: absolute;
        right: calc(0px - 8.8%);
        top: 365px;
        background-image: url("../images/header/Bloobs.png");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        overflow: hidden;
    }
    .header .header-img img {
        width: 532px;
    }
/* Services */
.services .services_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
}
    .services .services_content .services_item {
        padding: 56px 23px 23px;
        text-align: center;
        background: #FFF1F9;
        border-radius: 8px;
        margin:0 15px;
        box-shadow: 10px 10px 20px rgba(204, 204, 204, 0.2);
    }
    .services .services_content .services_item img:not(.services-btn img) {
        width: 43px;
        margin-bottom: 42px;
    }
    .services .services_content .services_item h3 {
        font-weight: 500;
        font-size: 34px;
        line-height: 72px;
        color: #56597A;
    }
    .services .services_content .services_item p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #919299;
        margin-bottom: 20px;
    }
    .services .services_content .services_item:nth-child(3) {
        background: #F78CB6;
        color: #fff;
        box-shadow: 10px 10px 20px rgba(250, 141, 184, 0.2);
    }
    .services .services_content .services_item:nth-child(3) h3 {
        color: #fff;
    }
    .services .services_content .services_item:nth-child(3) p {
        color: #fff;
    }
        .services .services_content .services_item .services-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .services .services_content .services_item .services-btn span {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #fff;
            margin-right: 8px;
        }
        .services .services_content .services_item .services-btn img {
            width: 7px;
            
        }
/* Blog */
.blog-item {
    margin-top: 200px;
}
.blog-item img {
    margin-right: 80px;
}
.blog-item span {
    margin-bottom: 15px!important;
}
.blog-item h2 {
    margin-bottom: 24px!important;
}
.blog-item h2 {
    font-size: 52px!important;
    line-height: 62px!important;
}
/* Advertising */
.advertising {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    cursor: pointer;
}
/* Subscribe */
.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 160px;
}
    .subscribe .subscribe-des {
        text-align: center;
        margin-top: 50px;
    }
        .subscribe .subscribe-des h3 {
            font-weight: 700;
            font-size: 52px;
            line-height: 72px;
            color: #56597A;
            margin-bottom: 18px;
        }
        .subscribe .subscribe-des p {
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            color: #919299;
            margin-bottom: 25px;
        }
    .subscribe img:first-child {
        position: absolute;
        top: 0;
        left: -10%;
    }
    .subscribe img:last-child:not(.btn img) {
        position: absolute;
        top: 0;
        right: -8.8%;
    }
    /* Subscribe mail */
    .subscribe .subscribe-mail {
        width: 706px;
        border-radius: 4px;
        box-shadow: 5px 5px 20px 5px rgba(205, 205, 205, 0.25);
        background: #fff;
    }
    .subscribe .subscribe-mail label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 14px 14px 23px;
    }
        .subscribe .subscribe-mail input  {
            background-color: transparent;
            border: none;
            width: 100%;
            vertical-align: middle;
            padding: 22px;
            font-weight: 400;
            font-size: 20px;
            color: #D2D2D2;
        }
        .subscribe .subscribe-mail input::placeholder  {
            font-weight: 400;
            font-size: 20px;
            color: #D2D2D2;
        }